.header {
	padding: 32px 0;
	background: #fff;
}

.logo {
	display: block;
	float: left;

	&__img {
		display: block;
		width: 345px;
	}

}

.nav {
	float: right;
}

.menu {
	padding:2sspx 0;
	&__item {
		display: inline-block;
	}
	&__link {
		@extend %bold;
		display: block;
		padding: 0 20px;
		font-size: 1.25rem;
		text-transform: uppercase;
	}
	&__fb {
		display: block;
		width: 14px;
	}
}