.work {
	padding: 60px 0;
	background: #f1f1f1;
	overflow: hidden;
	@include _320 {
		padding: 25px 0 15px;
	}

	.simple-header {
		@include _320 {
			text-align: center;
		}
	}
}

.steps {
	width: 100%;
	max-width: 1300px;
	margin: 80px auto 0;
	font-size: 0;
	text-align: center;
	@include clearfix;

	@include _1366 {
        max-width: 990px;
    }

    @include _320 {
        margin-top: 0;
    }

	&__item {
		display: inline-block;
		width: 20%;
		text-align: center;

		@include _320 {
	        width: 50%;
	        margin-top: 25px;
	    }
	}

	&__icon {

		img {
			max-height: 77px;
			@include _1366 {
		        max-height: 55px;
		    }

		    @include _320 {
		        max-height: 70px;
		    }
		}
		
	}

	&__title {
		@extend %bold;
		font-size: 1rem;
	}

}