
// Micro Clearfix, use this instead of clearing and/or adding additional HTML elements.
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

// MediaQueris
$_1366: 1439px;
$_1280: 1365px;
$_1024: 1279px;
$_768: 1023px;
$_320: 767px;


@mixin _1366 {
    @media (max-width: #{$_1366}) {
        @content;
    }
}

@mixin _1280 {
    @media (max-width: #{$_1280}) {
        @content;
    }
}

@mixin _1024 {
    @media (max-width: #{$_1024}) {
        @content;
    }
}

@mixin _768 {
    @media (max-width: #{$_768}) {
        @content;
    }
}

@mixin _320 {
    @media (max-width: #{$_320}) {
        @content;
    }
}