.header {
	padding: 32px 0;
	background: #fff;
	@include _1366 {
        padding: 25px 0;
    }
    @include _320 {
        padding: 15px 0 12px;
    }
}

.logo {
	display: block;
	float: left;
	@include _320 {
       	width: 170px;
       	margin-top: 10px;
    }

	&__img {
		display: block;
		width: 345px;
		@include _1366 {
	        width: 250px;
	    }
	    @include _320 {
	        width: 170px;
	    }
	}

}

.nav {
	float: right;
}

.menu {
	padding:2px 0;
	@include _1366 {
		padding: 0;
	}
	&__item {
		display: inline-block;
		@include _320 {
			display: none;

			&:last-child {
				display: inline-block;
			}
	    }
	}
	&__link {
		@extend %bold;
		display: block;
		padding: 0 20px;
		font-size: 1.25rem;
		text-transform: uppercase;
		transform: translateY(0);
		transition: .3s;
		&:hover {
			transform: translateY(-3px);
		}
		@include _320 {
	       	padding-right: 0;
	    }
	}
	&__fb {
		display: block;
		width: 14px;
		@include _1366 {
	        width: 11px;
	    }
	    @include _320 {
			width: 19px;
	    }
	}
}