// Typography
a {
    color: #232323;
    text-decoration: none;
}

.nolist {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }

}

strong {
	@extend %bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    margin: 15px 0;
}

.simple-header {
    @extend %bold;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5rem;

    @include _320 {
        font-size: 2.15rem;
        line-height: 2.3rem;
        text-align: left;
    }

    small {
        @extend %light;
        display: block;
        text-transform: none;
        font-size: 1rem;
    }
}